* {
    /* Reseteo de parametros*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
}

body {
    /* border: 2px solid saddlebrown; */
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(img/fondo1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

li {
    text-decoration: none;
    list-style: none;
}

/************** HEADER **************/

/***** NavBar *****/

.header-container {
    width: 100%;
    /* border: 2px solid salmon; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(#1d2229 , #121318);
    height: 40px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px 5px #000000;
}

/***** Logo *****/

.logo {
    font-size: 1.2em;
}

/***** Menu *****/

.header-menu {
    /* border: 2px solid darkblue;     */
    width: 60%;
    display: flex;
    justify-content: end;
}

.list-menu {
    width: 100%;
    /* border: 2px solid seagreen; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.menu {
    text-decoration: none;
    list-style: none;
}

/************** MAIN **************/

/***** Banner *****/

.main-container {
    border: 2px solid firebrick;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hero-container {
    /* Fondo */
    background-image: url(img/brazo_banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* Contenido */
    height: 640px;
    width: 600px;
    border: 2px solid sandybrown;
    display: flex;
    flex-direction: column;
    
    
    
}

/***** Info Banner *****/

.hero-info{
    border: 2px solid cadetblue;
    color: azure;
    width: 400px;
    /* text-align: end; */

}
/*
.btn-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.hero-info button {
    border: 0px;
    background-color: #FCEE09;
    width: 50%;
    margin: auto;
    border-radius: 10px;

} */

/***** List Productos *****/

.main-products{
    /* background: radial-gradient(#191f26, #15181c); */
    /* box-shadow: 0 0 0 2px #474d52, 
                        0 0 0 15px #262a2e,
                        0 0 0 17px #474d52,
                        inset 0 0 10px 0 #000000; */
    background: #121318;
    box-shadow: 0 0 15px 5px #000000;
}

.list-products{
    padding: 10px;
    width: 100%;
    /* border: 2px solid firebrick; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.item-product {
    /* border: 2px solid seashell; */
    height: 250px;
    width: 250px;
    margin: 10px;
    box-shadow: 0 0 0 1px #FCEE09, 
                        0 0 10px 0 #FCEE09,
                        inset 0 0 10px 0 #000000;
    /* background-color: #303033; */
    background: radial-gradient(#1d2229 , #121318);
    text-decoration: none;
    list-style: none;
}


